@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);

  --color-gold-400: #E6C768;
  --color-gold-500: #D4AF37;
  --color-gold-600: #B4942B;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  /* Deep Obsidian */
  color: #E0E0E0;
  background-image: radial-gradient(circle at 50% 0%, #1A1612 0%, #050505 80%);
  min-height: 100vh;
}